@page "/"
@using FIndCarBot.Client.DTO
@using FIndCarBot.Client.Models
@inject HttpClient _httpClient

<PageTitle>Your Car</PageTitle>
   
<div class="wrapper">
			<div class="product-img">
				<img src="@car.PhotoLink" height="800" width="1200 " />
			</div>
			<div class="product-info">
				<div class="product-info-wrapper">
					<div class="product-text">
						<h1>@car.MarkName</h1>
						<h2>@car.ModelName</h2>
						<ul class="specs">
							<li>Year: <span>@car.AutoData.Year</span></li>
							<li>Fuel type: <span>@car.AutoData.FuelName</span></li>
							<li>Engine volume: <span>3.6</span>mᶟ</li>
							<li>Gearbox: <span>@car.AutoData.GearboxName</span></li>
							<li>Race: <span>@car.AutoData.Race</span></li>
							<li>Region of sell: <span>@car.StateData.Name</span><br /><span>@car.StateData.RegionName</span></li>
						</ul>
						<div class="seller-description">
							<p class="desc-title">Description</p>
							<p class="desc">@car.AutoData.Description</p>
						</div>
					</div>
					<div class="price-box">
						<p class="price">Price: <span>@car.USD</span>$</p>
					</div>
					<a href= "@car.LinkToView">
						<button type="button">Go to autoRIA</button>
					</a>
					
				</div>
			</div>
		</div>

		<div class="wrapper">
			<div class="product-img">
				<img src="@car.PhotoLink" height="800" width="1200 " />
			</div>
			<div class="product-info">
				<div class="product-info-wrapper">
					<div class="product-text">
						<h1>@car.MarkName</h1>
						<h2>@car.ModelName</h2>
						<ul class="specs">
							<li>Year: <span>@car.AutoData.Year</span></li>
							<li>Fuel type: <span>@car.AutoData.FuelName</span></li>
							<li>Engine volume: <span>3.6</span>mᶟ</li>
							<li>Gearbox: <span>@car.AutoData.GearboxName</span></li>
							<li>Race: <span>@car.AutoData.Race</span></li>
							<li>Region of sell: <span>@car.StateData.Name</span><br /><span>@car.StateData.RegionName</span></li>
						</ul>
						<div class="seller-description">
							<p class="desc-title">Description</p>
							<p class="desc">@car.AutoData.Description</p>
						</div>
					</div>
					<div class="price-box">
						<p class="price">Price: <span>@car.USD</span>$</p>
					</div>
					<a href= "@car.LinkToView">
						<button type="button">Go to autoRIA</button>
					</a>
					
				</div>
			</div>
		</div>

		<Footer>
			<span>&nbsp;</span>
		</Footer>
@code {
	public ResultCarDTO car { get; set; }

	protected override async Task OnInitializedAsync()
	{
		car = new ResultCarDTO
            {
				USD = 62000,
                MarkName = "Toyota",
                ModelName = "Supra",
				AutoData = new AutoData {
					Year = 2021 ,
					Race = "78 тис. км",
					FuelName = "Gas",
					GearboxName = "Automatic",
					Description = "Абсолютно цілий автомобіль Жодної фарбованої деталі кузова Автомобіль затягнуть в захисну плівку HeadUp display (проекція на лобове скло) Безпровідна зарядка"
				},
				StateData =	new StateData {
					Name = "Selo Khlivyshche",
					RegionName = "Ivano-frankivsk",
				},
			PhotoLink = "https://cdn4.riastatic.com/photosnew/auto/photo/toyota_supra__420527769fx.webp",
			LinkToView = "https://auto.ria.com/uk/auto_toyota_supra_31314883.html"
			
    };
    //modelName = await _httpClient.GetFromJsonAsync<ResultCarDTO>("");
    }
}